.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: #444;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url('../img/arpit.jpg');
  border-radius: 50%;
  border: solid 3px #c5c6c7;
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #45a29e;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: chartreuse;
  transform: scale(1.25);
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}
.nav-item:nth-child(5) {
  transition-delay: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background-color: #1a1a1d;
}

.heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  color: #c5c6c7;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
  color: #66fcf1;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(73, 73, 73, 0.5);
}
h2.sm-heading {
  border-radius: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #66fcf1;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
}

main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'free job1 job2 ';
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  width: 250px;
  height: 300px;
  border-radius: 50%;
  border: #c5c6c7 3px solid;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
  color: #c5c6c7;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}

.about-info h3,
h5 {
  color: #45a29e;
}

.about-info p {
  color: #c5c6c7;
}
.about-info .job {
  background-image: linear-gradient(315deg, #0d0a0b 0%, #0b0c10 04%);
  padding: 0.5rem;
  border-bottom: #0b0c10 5px solid;
  border-radius: 20px;
}
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
}

.projects img {
  width: 100%;
  border: 3px #fff solid;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #45a29e;
  transition: all 0.5s ease-out;
}

.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #45a29e;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #c4c4c4;
  color: #333;
}

.resume {
  margin-top: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(20, 20, 20, 0.75);
  border-radius: 20px;
  padding: 5rem;
}

.resume a {
  background-color: #45a29e;
  color: #eee;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 1.5rem;
  transition: background-color 650ms;
}

.resume a:hover {
  background-color: rgba(255, 0, 0, 0.6);
  box-shadow: rgba(219, 216, 9, 0.9);
}

.social {
  margin-top: 10rem;
}

.social i {
  font-size: 7rem;
  transition: color 650ms;
  margin: 5rem;
  display: grid;
}

.fa-github-square:hover,
.fa-github:hover {
  color: #585252;
}

.fa-instagram:hover {
  color: #e1306c;
}

.fa-linkedin-in:hover,
.fa-linkedin:hover {
  color: #0e76a8;
}

.fa-envelope:hover {
  color: rgb(202, 22, 22);
}

.fa-mobile-alt:hover {
  color: rgb(47, 185, 47);
}

.nav-list {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-areas: 'linkedin github gmail instagram call';
  grid-template-columns: repeat(5, 1fr);
}

.linkedin {
  grid-area: linkedin;
}
.github {
  grid-area: github;
}
.gmail {
  grid-area: gmail;
}
.instagram {
  grid-area: instagram;
}
.call {
  grid-area: call;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px;
}

.home {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.home i {
  color: black;
  font-size: 2rem;
  margin: auto;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url('../img/arpit_small.jpg');
    width: 150px;
    height: 150px;
  }

  body#bg-img {
    /* background: url(../img/background.jpg);
    background: rgba(68, 68, 68, 0.9), url(../img/background.jpg); */
    background-attachment: fixed;
    background-size: cover;
    background-color: #1a1a1d;
  }

  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'free' 'job1' 'job2';
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav-list {
    grid-template-areas: 'linkedin' 'github' 'gmail' 'instagram' 'call';
    grid-template-columns: 1fr;
  }
  iframe {
    height: 500px;
    width: 350px;
  }
  .home {
    right: 2rem;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 1vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 4rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .nav-list {
    grid-template-columns: 1fr;
  }
}
